  /* footer */
  .footer-container {
    background-color: #634803;
  }
  
  .footer-container .titulo-footer {
    display: flex;
    justify-content: center;
    color: #634803;
  }
  
  .footer-container .zona-botones {
    display: flex;
    justify-content: center;
  }
  
  .boton-footer {
    margin: 20px;
    color: white;
  }
  
  .derechos-autor {
    display: flex;
    justify-content: center;
    color: white;
  }